<div id="output">
</div>
<div id="hals-eye">
  <%= image_tag("HAL9000.svg") %>
  <br/>
  <br/>
  <div id="mic">
    <%= image_tag("mic_icon_on.png", class: "mic_on") %>
    <%= image_tag("mic_icon_hover.png", class: "mic_hover") %>
    <%= image_tag("mic_icon.png", class: "mic_off") %>
  </div>
</div>
