// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  padding-top: 5%;
}

#hals-eye {
  text-align: center;
  padding-top: 1%;
}

#output {
  text-align: center;
  color: #ebebeb;
  font-size: 3em;
  height: 1.5em;
  font-family: 'Orbitron', sans-serif;
}

#mic {
  margin: auto;
  text-align: left;
  width: 116px;
  height: 115px;
}

#mic img {
  position: absolute;
}
